body{
	background-color:		   #dda15e;
}
.main-div {
	text-align:	 	center;
	color:		  	#283618;
}
.app-row{
	margin-top:	 	20px;
	padding:		20px;
	font-size:	  	5em;
	font-family:	'Monofett', cursive;
}
.config-row{
	margin-top:	 	20px;
	font-family:	'Bubblegum Sans', cursive;
	font-size:	  	0.3em;
}
.config-select-row{
	margin-top:	 	0;
	font-family:	'Bubblegum Sans', cursive;
	font-size:	  	0.3em;
}
.col-side-by-side{
	margin:			0;
	padding:		0 30px 0 30px;
}
.config-left{
	text-align:		right;
	float:			right;
}
.config-right{
	text-align: left;
	float:	  left;
}
.col-side-by-side-inner{
	margin:			0;
	padding:		0 45px 0 52px;
}
.code-author{
	text-align:		center;
	margin-top:		15px;
	font-family:	"Times New Roman", Times, serif;
	font-size:		1em;
}
.circle-time{
	display:			block;
	margin:				auto;
	margin-top:			10px;
	width:				300px;
	height:				300px;
	border-radius:		50%;
	border-style:		solid;
	border-color:		#606c38;
	border-width:		5px;
	font-family:		'Wallpoet', cursive;
	font-size:			0.5em;
}
.circle-text{
	margin-top:			35px;
}
a.fill-div {
	color:				inherit;
	display:			block;
	height:				100%;
	width:				100%;
	text-decoration:	none;
}
.btn-group .button {
	color:				white;
	padding:			10px 15px;
	text-align:			center;
	text-decoration:	none;
	display:			inline-block;
	font-size:			0.5em;
	cursor:				pointer;
	float:				left;
}
.btn-group .button-green {
	background-color:	#4CAF50;
	border:				1px solid green;
}
.btn-group .button-red {
	background-color:	#ff6534;
	border:				1px solid red;
}
.btn-group .button:not(:last-child) {
	border-right:	none; /* Prevent double borders */
}
.btn-group .button-green:hover {
	background-color:	#3e8e41;
}
.btn-group .button-red:hover {
	background-color:	#d1491f;
}
